.app.dark {
    --bg-color: #0c1727;
    --inverted-bg-color: #dce6f4;
    --primary-color: #5285cb;
    --secondary-color: #060c14;
    --inverted-primary-color: #5285cb;
    --inverted-secondary-color: #c5d6ed;
}