.app.light {
  --bg-color: #dce6f4;
  --inverted-bg-color: #0c1727;

  --primary-color: #5285cb;
  --secondary-color: #c5d6ed;
  --inverted-primary-color: #5285cb;
  --inverted-secondary-color: #060c14;
}